In [1]:
import pandas as pd
import os

In [2]:
data_path = '/mnt/c/Users/tiago/Documents/Uni/anm/anm-project/data/test_data/'

In [3]:
esb_df = pd.read_csv(f'{data_path}/esb.csv')

In [4]:
esb_df

    service_name     start_time  avg_time  num  succee_num  succee_rate
0        osb_001  1606881600000    0.6214  361         361       1.0000
1        osb_001  1606881660000    0.5861  343         343       1.0000
2        osb_001  1606881720000    5.0125  126         122       0.9683
3        osb_001  1606881780000    9.3487   70          70       1.0000
4        osb_001  1606881840000    1.4756  375         375       1.0000
..           ...            ...       ...  ...         ...          ...
714      osb_001  1606866840000    0.6631  539         539       1.0000
715      osb_001  1606866900000    0.6083  542         542       1.0000
716      osb_001  1606866960000    0.5766  536         536       1.0000
717      osb_001  1606867020000    0.6536  525         525       1.0000
718      osb_001  1606867080000    0.6219  512         512       1.0000

[719 rows x 6 columns]

In [23]:
class BusinessIndex():  # pylint: disable=too-few-public-methods
    '''Structure for business indices'''

    __slots__ = ['service_name', 'start_time', 'avg_time', 'num',
                 'succee_num', 'succee_rate']

    def __init__(self, data):
        self.service_name = data['service_name']
        self.start_time = data['start_time']
        self.avg_time = data['avg_time']
        self.num = data['num']
        self.succee_num = data['succee_num']
        self.succee_rate = data['succee_rate']

In [17]:
esb_df = esb_df.sort_values('start_time')

In [24]:
esb_res = []
esb_df.apply(lambda x: esb_res.append(BusinessIndex(x)), axis=1)

359    None
360    None
361    None
362    None
363    None
       ...
654    None
655    None
656    None
657    None
658    None
Length: 719, dtype: object

In [28]:
import pickle
with open(f'esb.pickle', 'wb') as f:
    pickle.dump(esb_res, f)

In [29]:
del esb_res
del esb_df

In [37]:
class PlatformIndex():  # pylint: disable=too-few-public-methods
    '''Structure for platform indices'''

    __slots__ = ['item_id', 'name', 'bomc_id', 'timestamp', 'value', 'cmdb_id']

    def __init__(self, data):
        self.item_id = data['item_id']
        self.name = data['name']
        self.bomc_id = data['bomc_id']
        self.timestamp = data['timestamp'] 
        self.value = data['value']
        self.cmdb_id = data['cmdb_id']

In [33]:
dataframe = pd.concat([pd.read_csv(data_path + '/host/' + f) for f  in os.listdir(f'{data_path}/host/')])

In [46]:
dataframe = dataframe.sort_values('timestamp')

In [36]:
dataframe

,item_id,name,bomc_id,timestamp,value,cmdb_id
0,999999996470922,container_fail_percent,ZJ-004-065,1606859437000,0.000000e+00,container_002
1,999999996470837,container_fail_percent,ZJ-004-065,1606859437000,0.000000e+00,container_001
2,999999996470922,container_fail_percent,ZJ-004-065,1606859510000,0.000000e+00,container_002
3,999999996470837,container_fail_percent,ZJ-004-065,1606859510000,0.000000e+00,container_001
4,999999996470837,container_fail_percent,ZJ-004-065,1606859564000,0.000000e+00,container_001
...,...,...,...,...,...,...
169821,999999996508411,expired_keys,ZJ-005-016,1606902631000,3.000000e+00,redis_001
169822,999999996508408,instantaneous_output_kbps,ZJ-005-026,1606902631000,3.393600e+02,redis_001
169823,999999996508400,total_connections_received,ZJ-005-031,1606902633000,1.665694e+06,redis_001
169824,999999996508407,keyspace_hits,ZJ-005-027,1606902634000,1.367638e+10,redis_001
169825,999999996508393,redis_load,ZJ-005-035,1606902634000,0.000000e+00,redis_001

In [47]:
kpi_res = []
dataframe.apply(lambda x: kpi_res.append(PlatformIndex(x)), axis=1)

0         None
1         None
15        None
14        None
13        None
          ...
588582    None
336988    None
588585    None
588576    None
169825    None
Length: 1145891, dtype: object

In [49]:
dataframe

,item_id,name,bomc_id,timestamp,value,cmdb_id
0,999999996430952,Processor_load_5_min,ZJ-001-005,1606859432000,0.018333,os_015
1,999999996437612,Memory_available,ZJ-001-025,1606859432000,8.874672,os_002
15,62219072,Outgoing_network_traffic,ZJ-001-072,1606859432000,0.000000,os_018
14,999999996432272,Memory_available,ZJ-001-025,1606859432000,15.677242,os_009
13,999999996482132,Disk_rd_ios,ZJ-001-098,1606859432000,0.000000,os_020
...,...,...,...,...,...,...
588582,999999996431614,CPU_user_time,ZJ-001-015,1606902634000,0.547602,os_004
336988,999999996512734,MEM_real_util,ZJ-002-053,1606902634000,57.190000,db_011
588585,63309334,Sent_errors_packets,ZJ-001-070,1606902634000,0.000000,os_011
588576,999999996482133,Disk_await,ZJ-001-096,1606902634000,0.000000,os_020
169825,999999996508393,redis_load,ZJ-005-035,1606902634000,0.000000,redis_001

In [3]:
import pickle
with open(f'kpi.pickle', 'wb') as f:
    pickle.dump(kpi_res, f)

NameError: name 'kpi_res' is not defined

In [53]:
del kpi_res
del dataframe

In [4]:
trace_df = pd.concat([pd.read_csv(data_path + '/trace/' + f) for f  in os.listdir(f'{data_path}/trace/')])

In [5]:
trace_df = trace_df.sort_values('startTime')

In [60]:
trace_df

,startTime,elapsedTime,success,traceId,id,pid,cmdb_id,serviceName,callType,dsName
200066,1606859430741,1178.0,1,3ea72172626a43558868,5a524172626a43558869,None,os_021,osb_001,OSB,NaN
997047,1606859430747,1165.0,1,3ea72172626a43558868,2a744172626a435b8871,5a524172626a43558869,os_021,csf_001,CSF,NaN
996980,1606859430793,1117.0,1,3ea72172626a43558868,a82db172626a43891671,2a744172626a435b8871,docker_003,csf_001,RemoteProcess,NaN
200068,1606859430811,1203.0,1,131c1172626a439b7562,62353172626a439b7563,None,os_021,osb_001,OSB,NaN
997058,1606859430817,1191.0,1,131c1172626a439b7562,50806172626a43a17565,62353172626a439b7563,os_021,csf_001,CSF,NaN
...,...,...,...,...,...,...,...,...,...,...
5291945,1606902633090,2.0,1,e42e8172626a4bbe6546,1f5ca172626a4c825195,98bea172626a4bc55029,docker_001,local_method_001,LOCAL,db_009
6883718,1606902633090,1.0,1,e42e8172626a4bbe6546,7bc5e172626a4c825198,1f5ca172626a4c825195,docker_001,NaN,JDBC,db_009
5291946,1606902633091,1.0,1,47599172626a4bc16888,94495172626a4c835200,dd7e2172626a4bcc5033,docker_001,local_method_006,LOCAL,db_009
6883719,1606902633091,1.0,1,47599172626a4bc16888,9e47e172626a4c835203,94495172626a4c835200,docker_001,NaN,JDBC,db_009
6883720,1606902633092,0.0,1,e42e8172626a4bbe6546,205b4172626a4c845206,1f5ca172626a4c825195,docker_001,NaN,JDBC,db_009

In [6]:
class Trace():  # pylint: disable=invalid-name,too-many-instance-attributes,too-few-public-methods
    '''Structure for traces'''

    __slots__ = ['call_type', 'start_time', 'elapsed_time', 'success',
                 'trace_id', 'id', 'pid', 'cmdb_id', 'service_name', 'ds_name']

    def __init__(self, data):
        self.call_type = data['callType']
        self.start_time = data['startTime']
        self.elapsed_time = data['elapsedTime']
        self.success = data['success']
        self.trace_id = data['traceId']
        self.id = data['id']
        self.pid = data['pid']
        self.cmdb_id = data['cmdb_id']

        if 'serviceName' in data:
            # For data['callType']
            #  in ['CSF', 'OSB', 'RemoteProcess', 'FlyRemote', 'LOCAL']
            self.service_name = data['serviceName']
        if 'dsName' in data:
            # For data['callType'] in ['JDBC', 'LOCAL']
            self.ds_name = data['dsName']

In [7]:
trace_res = []
trace_df.apply(lambda x: trace_res.append(Trace(x)), axis=1)

200066     None
997047     None
996980     None
200068     None
997058     None
           ...
6883718    None
5291945    None
5291946    None
6883719    None
6883720    None
Length: 19741831, dtype: object

In [ ]:
import pickle
with open('trace.pickle', 'wb') as f:
    pickle.dump(trace_res, f)

In [14]:
del trace_df